discord_vr.egg-info/dependency_links.txt
discord_vr.egg-info/PKG-INFO
discord_vr.egg-info/SOURCES.txt
discord_vr.egg-info/top_level.txt
dist/discord_vr-1.0.0.tar.gz
dist/discord_vr-1.0.0-py3-none-any.whl
discord_vr.egg-info/requires.txt
